 *,*:before,*:after {
	box-sizing: border-box;
}


body {
	background-color: #0B061B;
	margin: 0;
	font-family: 'Inter', sans-serif;
	
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #0B061B;
}

.header {
background-color: #0B061B;
}

.header__wrapper {
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 360px;
	top: 32px;
}

.nav {
	display: flex;
}

.nav__link {
	margin-right: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
}

.nav__link:last-child {
	margin-right: 0;
	}

.header__foto {
	color: #ECECEC;
	font-weight: 600;
	font-size: 20px;
	text-decoration: none;
	left: 418px;
	top: 40px;
}

.card__wrapper{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-template-rows: 285px 285px 285px;
	margin: 40px -10px;
}

.card__block{
	width: 33.33%;
	padding: 0 10px;
}

.card__item{
	border-radius: 20px;
	padding: 30px
	width: 285px;
	height: 285px;
	color: var(--color-tx);
}


.text {
	position: absolute;
	width: 277px;
	height: 135px;
	left: 360px;
	top: 135px;
	font-weight: 500;
	font-size: 48px;
	color: #ECECEC;
	
}

.better {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px;
	gap: 10px;
	position: absolute;
	width: 191px;
	height: 60px;
	left: 1369px;
	top: 135px;
	font-weight: 600;
	font-size: 16px;
	color: #9747FF;
	border-radius: 10px;
	
}

.adress {
	position: absolute;
	left: 0%;
	right: 89.92%;
	top: 40.4%;
	bottom: 40.4%;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #9747FF;
	top: 1310px;
	left: 360px;
}

.adress__link {
	text-decoration: none;
}

.razr {
	position: absolute;
	left: 81%;
	right: 0%;
	top: 40.4%;
	bottom: 40.4%;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #ECECEC;
	left: 1332px;
	top: 1310px;
}

.razr__link {
	text-decoration: none;
}
