 *,*:before,*:after {
	box-sizing: border-box;
}
body {
	mardin: 0;
	font-family: 'Inter', sans-serif;
	background-color: #0B061B;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	margin: 0;
	font-family: 'Inter', sans-serif;
	
}

.header-line {
	padding-top: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
	color: #ECECEC;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	margin-left: 30px;
	heidht: 42px;
}

.hr {
	border-bottom: 1px solid #225555;
	width: 1200px;
	opacity: 0.1;
	margin-top: 32px;
	margin-bottom: 30px;
}

.mes {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.foto {
	background: #9747FF;
	border-radius: 10px;
	padding: 20px 20px 20px 29px;
	margin-bottom: 40px;
}

.pl {
	color: #ECECEC;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 60px;
}

.text1 {
	color: #ECECEC;
	font-weight: 500;
	font-size: 48px;
	margin-bottom: 40px;
	width: 277px;
	height: 60px;
}

.bth {
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.cards-holder {
	display: flex;
	justify-content: space-between;
	
}

.card {
	position: relative;
	margin-bottom: 20px;
}

.card__title {
	position: absolute;
	width: 245px;
	height: 26px;
	left: 20px;
	bottom: 39px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__date {
	position: absolute;
	width: 184px;
	height: 15px;
	left: 20px;
	bottom: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #fff;
	margin-bottom: 4px;
	opacity: 0.7;
}

.card-img {
	border-radius: 20px;
	width: 285px;
	height: 285px;
}

.pokaz {
	color: #9747FF;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;

}

.qw {
	display: flex;
	align-items: center;
	justify-content: center;
}

.imgv {
	position: relative;
	width: 12px;
	height: 6px;
	left: 4px;
	top: 7px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.dob {
	color: #9747FF;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	heidht: 42px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.hr1 {
	border-bottom: 1px solid #225555; 
	width: 1200px;
	opacity: 0.1;
	margin-top: 43px;
	margin-bottom: 39px;
}

.adress {
	position: absolute;
	margin-right: 89.92%;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #9747FF;
}

.adress__link {
	text-decoration: none;
	padding-bottom: 40px;
}

.razr {
	position: absolute;
	margin-left: 972px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.razr__link {
	text-decoration: none;
	color: #ECECEC;
	padding-bottom: 40px;
}
